@reference "tailwindcss";

.activeLink {
  background-color: var(--color-beige-100);
  color: var(--color-grey-900);
  border-left: var(--color-green);
  @apply rounded-r-xl border-l-4 pl-8;
}

.activeLink svg {
  color: var(--color-green);
}
