:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-grey-900);
  background-color: var(--color-beige-100);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import "tailwindcss";

@theme {
  /* Font sizes */
  --text-preset-1: 32px;
  --text-preset-2: 20px;
  --text-preset-3: 16px;
  --text-preset-4: 14px;
  --text-preset-5: 12px;

  /* Line heights */
  --leading-preset-1: 120%;
  --leading-preset-2: 120%;
  --leading-preset-3: 150%;
  --leading-preset-4: 150%;
  --leading-preset-5: 150%;

  /* Letter spacing */
  --tracking-preset-1: 0px;
  --tracking-preset-2: 0px;
  --tracking-preset-3: 0px;
  --tracking-preset-4: 0px;
  --tracking-preset-5: 0px;

  /* Font weight */
  --weight-bold: 700;
  --weight-regular: 400;

  /* Colors */
  --color-beige-500: #98908b;
  --color-beige-100: #f8f4f0;

  --color-grey-900: #201f24;
  --color-grey-500: #696868;
  --color-grey-300: #b3b3b3;
  --color-grey-100: #f2f2f2;

  --color-green: #277c78;
  --color-yellow: #f2cdac;
  --color-cyan: #82c9d7;
  --color-navy: #626070;
  --color-red: #c94736;
  --color-purple: #826cb0;

  --color-pink: #af81ba;
  --color-turquoise: #597c7c;
  --color-brown: #93674f;
  --color-magenta: #934f6f;
  --color-blue: #3f82b2;
  --color-navy-grey: #97a0ac;
  --color-army-green: #7f9161;
  --color-gold: #cab361;
  --color-orange: #be6c49;

  --color-white: #fff;
}

@layer base {
  h1 {
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 0px;
    font-weight: bold;
  }
}

@layer utilities {
  .text-preset-1 {
    font-size: var(--text-preset-1);
    line-height: var(--leading-preset-1);
    letter-spacing: var(--tracking-preset-1);
    font-weight: var(--weight-bold);
  }

  .text-preset-2 {
    font-size: var(--text-preset-2);
    line-height: var(--leading-preset-2);
    letter-spacing: var(--tracking-preset-2);
    font-weight: var(--weight-bold);
  }

  .text-preset-3 {
    font-size: var(--text-preset-3);
    line-height: var(--leading-preset-3);
    letter-spacing: var(--tracking-preset-3);
    font-weight: var(--weight-bold);
  }

  .text-preset-4 {
    font-size: var(--text-preset-4);
    line-height: var(--leading-preset-4);
    letter-spacing: var(--tracking-preset-4);
    font-weight: var(--weight-regular);
  }

  .text-preset-4-bold {
    font-size: var(--text-preset-4);
    line-height: var(--leading-preset-4);
    letter-spacing: var(--tracking-preset-4);
    font-weight: var(--weight-bold);
  }

  .text-preset-5 {
    font-size: var(--text-preset-5);
    line-height: var(--leading-preset-5);
    letter-spacing: var(--tracking-preset-5);
    font-weight: var(--weight-regular);
  }

  .text-preset-5-bold {
    font-size: var(--text-preset-5);
    line-height: var(--leading-preset-5);
    letter-spacing: var(--tracking-preset-5);
    font-weight: var(--weight-bold);
  }
}

/*
Source - https://stackoverflow.com/a
Posted by Fareed Alnamrouti, modified by community. See post 'Timeline' for change history
Retrieved 2026-01-16, License - CC BY-SA 4.0
*/

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
  -webkit-text-fill-color: var(--color-grey-900);
}

button {
  cursor: pointer;
}

button:disabled {
  background-color: var(--color-grey-100);
  cursor: not-allowed;
}
