:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #2a292e;
  background-color: #f8f4f0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import "tailwindcss";

@theme {
  --color-beige-500: #98908b;
  --color-beige-100: #f8f4f0;

  --color-grey-900: #201f24;
  --color-grey-500: #696868;
  --color-grey-300: #b3b3b3;
  --color-grey-100: #f2f2f2;

  --color-green: #277c78;
  --color-yellow: #f2cdac;
  --color-cyan: #82c9d7;
  --color-navy: #626070;
  --color-red: #c94736;
  --color-purple: #826cb0;

  --color-pink: #af81ba;
  --color-turquoise: #597c7c;
  --color-brown: #93674f;
  --color-magenta: #934f6f;
  --color-blue: #3f82b2;
  --color-navy-grey: #97a0ac;
  --color-army-green: #7f9161;
  --color-gold: #cab361;
  --color-orange: #be6c49;

  --color-white: #fff;
}
